#youtube-div {
    min-height: 100vh;
    max-height: auto;
    text-align: center;
    position: relative;

    @media only screen and (max-width: 1390px) {
        min-height: 50vh;
        max-height: auto;
    }

    @media only screen and (max-width: 1366px) and (max-height: 1024px) {
        min-height: 70vh;
    }

    @media only screen and (max-height: 750px) and (max-width: 787px) {
        padding-bottom: 10rem;
    }

    // @media only screen and (max-width: 787px) {
    //     padding-bottom: 10rem;
    // }




    h1 {
        text-align: center;
        // margin-top: 5.5rem;
        margin-top: 2rem;
        font-size: 1.3rem;
        letter-spacing: 0.2rem;
        color: rgb(116, 116, 116);
        // border: 1px solid rgb(129, 129, 129);
        display: inline-block;
        padding: 0.5rem 2rem;
        // font-weight: 700;
    }

    #youtube-card {
        border: 4px solid rgb(243, 243, 243);
        width: 50%;
        margin: 0 auto;
        // top: -75px;
        top: -4.6rem;
        right: 25%;
        left: 25%;
        display: inline-block;
        position: absolute;
        z-index: 1;
        background: white;
        padding-bottom: 3rem;

        @media only screen and (max-height: 750px) {
           top: 0;
        }
    
        
    }

    #youtube-container {
        // display: flex;
        // justify-content: space-around;
        margin: 2rem auto 0 auto;
        width: 80%;
        position: relative;

        #kinda-neat-logo {
            // box-shadow: 0 5px 20px -2px gray;
        }

        img {
            width: 100%;
            height: 100%;
            // display: block;
            -moz-transition: all 0.5s;
            -webkit-transition: all 0.5s;
            transition: all 0.5s;
        }


        article {
            margin-top: 3rem;

            p {
                letter-spacing: 0.05rem;
                margin-bottom: 0;
                color: rgb(68, 68, 68);
                font-size: 1rem;
            }
        }

        #kinda-neat-socials {
            width: 33%;
            margin: 2rem auto 0 auto;
            display: flex;
            justify-content: space-around;

            @media only screen and (max-width: 980px) {
                width: 60%;
            }

            @media only screen and (max-width: 787px) {
                display: block;
            }

            a {
                color: black;

                

                @media only screen and (max-width: 787px) {
                    display: block;
                    line-height: 3;
                }
                
            }

            .fa {
                font-size: 1.3rem;

                &:hover {
                    cursor: pointer;
                }
            }

            
        }


        .carousel-img {
            position: relative;
            overflow: hidden;
            width: 60%;
            margin: 0 auto;
          }

          .carousel-img:hover img {
            -moz-transform: scale(1.3);
            -webkit-transform: scale(1.3);
            transform: scale(1.3);
          }
        
          .overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            min-height: 100%;
            width: 100%;
            opacity: 0;
            transition: 0.5s ease;
            background: white;
            text-align: center;
            //  background: linear-gradient(to right top, rgb(201, 201, 201), white);
          }
          
          .carousel-img:hover .overlay {
            opacity: 1;
          }
        
          .overlay-title {
              font-weight: 600;
              font-size: 1.4rem;
                // text-transform: uppercase;
                margin-top: 30%;
              text-align: center;
          }
        
          .learn-more {
            // color: teal;
            position: absolute;
            font-weight: 400;
            top: 57%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            text-align: center;
            font-family: "Avenir";
            padding: 0.9rem 2.2rem;
            // border: 1px solid teal;
            color: black;
            border: 1px solid black;
            z-index: 2;
            font-size: 0.8rem;
            letter-spacing: 0.05rem;
            transition: 0.5s ease;
        
          }
        
          .learn-more:hover {
            cursor: default;
            // background: teal;
            background: black;
            color: white;
            border: none;
            border: 1px solid black;
            box-shadow: 0 5px 15px -3px gray;
            cursor: pointer;
          }
        
        
        
        
    }
}

.dialog {
    iframe {
        width: 100%;
        min-width: auto;
        min-height: 35rem;
        max-height: auto;
    }
}