#projects-div {
    min-height: calc(100vh + 100px);
    max-height: auto;
    text-align: center;
    background: rgb(243, 243, 243);
    overflow: hidden;

    @media only screen and (max-width: 1390px) {
        min-height: 90vh;
        max-height: auto;
    }

    @media only screen and (max-width: 1024px) {
        min-height: 80vh;
        max-height: auto;
        padding-bottom: 5rem;
    }

    h1 {
        text-align: center;
        font-size: 1.3rem;
        letter-spacing: 0.2rem;
        display: inline-block;
        padding: 1.5rem 2rem;
        border: 1px solid black;
        color: white;
        background: black;
        width: 45%;
    }

    #projects-container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 3rem auto 0 auto;
        width: 80%;

        @media only screen and (max-width: 1024px) {
            display: flex;
        }
        @media only screen and (max-width: 760px) {
            display: block;
        }
    }
}
